Source: dde-dock-monitor-plugin
Maintainer: q77190858/shenmo <jifengshenmo@outlook.com>
Section: utils
Priority: optional
Build-Depends:
 cmake,
 debhelper (>= 9),
 pkg-config,
 qtchooser (>= 55-gc9562a1-1~),
 qtbase5-dev,
 libqt5core5a,
 libqt5widgets5,
 libdtkcore-dev,
 libdtkwidget-dev,
 libgsettings-qt-dev,
 dde-dock-dev
Standards-Version: 1.8.0
Homepage: https://github.com/q77190858/dde-sys-monitor-plugin


Package: dde-dock-monitor-plugin
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends},
 dde-control-center,
 dde-dock (>= 6.0.22),
 libqt5core5a,
 libqt5widgets5,
 libdtkcore5,
 libdtkwidget5,
 libgsettings-qt1
Description: A dde-dock system monitor plugin for Deepin 23.
 任务栏插件，显示网速和CPU内存占用，q77190858编写，shenmo打包。新版更新了包名，符合官方命名逻辑。
