Source: dde-dock-monitor-plugin
Maintainer: q77190858/shenmo <jifengshenmo@outlook.com>
Section: utils
Priority: optional
Build-Depends:
 cmake,
 debhelper (>= 11),
 pkg-config,
 qtchooser (>= 55-gc9562a1-1~),
 qtbase5-dev,
 libdtkcore-dev,
 libdtkgui-dev,
 dde-tray-loader-dev | dde-dock-dev,
 libgsettings-qt-dev
Standards-Version: 4.1.7
Homepage: https://github.com/q77190858/dde-sys-monitor-plugin

Package: dde-dock-monitor-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 dde-control-center,
 dde-tray-loader | dde-dock
Description: A dde-dock system monitor plugin for Deepin 23.
 任务栏插件，显示网速和CPU内存占用，q77190858编写，shenmo打包。新版更新了包名，符合官方命名逻辑。
